*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bg_area{
    height: 600px;
    background-image: url(./img/bg.png);
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 100% 100%;
    color: white;
    word-wrap: break-word;
}
.bg_area a{
    color: white;
}
.bg_area div{
    text-align: center;
    padding-top: 7rem;
    line-height: 2;
    font-size: larger;
}
.rooms{
    width: 97%;
    margin: auto;
    margin-top: 2rem;
}
.rooms a{
    color: rgb(27, 175, 220);
}
.deluxe, .exclusive, .luxury{
    display: flex;
    justify-content: space-between;
    line-height: 1.8;
}
.rooms .deluxe div,
.exclusive div,
.luxury div{
    width: 47%;
    height: 300px;
    margin-bottom: 2rem;
}
.rooms .image img{
    width: 100%;
    height: 100%;
}

/* room reservation */
.main{
    height: fit-content;
    width: 97%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.main-left{
    width: 47%;
    height: fit-content;
}
.main-left-1{
    height: 400px;
    background-image: url(./img/hotel5.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 100% 100%;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}
.main-left-2{
    height: 400px;
    background-image: url(./img/hotel6.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 100% 100%;
    color: white;
    text-align: center;
    font-size: 25px;
}
.main-right{
    width: 47%;
    text-align: center;
}
form{
line-height: 2.5;
}
form input,
#room-type{
    width: 70%;
    padding: 10px 0 10px 10px;
    border-radius: 7px;
}
.btns{
    margin-top: 1rem;
}
#btn{
    background-color: rgb(108, 13, 108);
    color: white;
    width: 33%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}
#btn_reset{
    background-color: #fff;
    color: black;
    width: 33%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    cursor: pointer;
    border-color: rgb(108, 13, 108);
}

/* media responsiveness */
@media(max-width: 768px) {
    .deluxe, .exclusive, .luxury, .main{
        display: block;
    }
    .rooms .deluxe div,
    .exclusive div,
    .luxury div,
    .main-left,
    .main-right{
        width: 97%;
        margin: auto;  
   }
   .main-left{
    margin-bottom: 2rem;
   }
}